.tooltip {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #0A2348;
    position: absolute;
    bottom: 15px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s; 
}

.tooltip:hover {
    transform: scale(1.1);
    box-shadow: 43px 31px 96px -9px rgba(0,0,0,0.75);
    background: #fff;
} 

.tooltip-icon {
    height: 3vw;
    width: 3vw;
    transition: transform 0.5s ease-in-out;
}

.tooltip:hover .tooltip-icon {
    transform: scale(1.2);
}

@media only screen and (min-width: 0px) and (max-width: 370px){
    .tooltip {
        width: 10vw;
        height: 10vw;
        right: 15px;
    }
    .tooltip-icon {
        width: 7vw;
        height: 7vw;
    }
}

@media only screen and (min-width: 370px) and (max-width: 460px){
    .tooltip {
        width: 15vw;
        height: 15vw;
        right: 15px;
    }
    .tooltip-icon {
        width: 11vw;
        height: 11vw;
    }
}

@media only screen and (min-width: 460px) and (max-width: 1024px){
    .tooltip {
        width: 10vw;
        height: 10vw;
        right: 15px;
    }
    .tooltip-icon {
        width: 8vw;
        height: 8vw;
    }
}