.customModal {
    background-color: #2C5DC7;
    width: 60vw;
    font-family: 'Comfortaa', cursive;
    color: #fff;
}

.customOverlay {
    background-color: rgba(255, 255, 255, 0.5)
}

.customButton {
    cursor: pointer;
    transition: all .5s;
}

.customButton:focus {
    outline: none;
}

.customButton:hover {
    transform: scale(1.2);
}

.customButton:hover path {
    fill: #fff;
}

.modalHead {
    font-size: 3em;
    margin: 0;
}

.instruName {
    font-size: 2em;
}

.instrument {
    height: 100px;
    width: 100px;
}

.tableData {
    padding: 20px;
    padding-right: 30px;
}

tr {
    border-bottom: 2px solid #fff;
}

@media only screen and (min-width: 350px) and (max-width: 460px){
    .customModal {
        width: 80vw;
    }
    .tableData {
        padding: 10px;
    }
    .instrument {
        height: 50px;
        width: 50px;
    }
    .modalHead {
        font-size: 1.5em;
    }
    .instruName {
        font-size: 1em;
    }
}